<!-- <button class="button" (click)="updateCoins()">Refresh</button> -->
<table class="container">
  <!-- <thead> -->
    <tr>
      <th><h1 style="text-align: center;">
        Project
        <i class="fas fa-sort-amount-up" (click)="sort('name', 'asc')"
        [ngStyle]="{'display': sortOrder === 'desc' ? 'inline' : 'none', 'color': sortBy === 'name' ? '#4CAF50' : 'white'}"
        ></i>
        <i class="fas fa-sort-amount-down" (click)="sort('name', 'desc')"
        [ngStyle]="{'display': sortOrder === 'asc' ? 'inline' : 'none', 'color': sortBy === 'name' ? '#4CAF50' : 'white'}"
        ></i>
      </h1></th>
      <th><h1 style="text-align: center;">
        Price
        <i class="fas fa-sort-amount-up" (click)="sort('usd', 'asc')"
        [ngStyle]="{'display': sortOrder === 'desc' ? 'inline' : 'none', 'color': sortBy === 'usd' ? '#4CAF50' : 'white'}"
        ></i>
        <i class="fas fa-sort-amount-down" (click)="sort('usd', 'desc')"
        [ngStyle]="{'display': sortOrder === 'asc' ? 'inline' : 'none', 'color': sortBy === 'usd' ? '#4CAF50' : 'white'}"
        ></i>
      </h1></th>
      <th><h1 style="text-align: center;">
        Quantity
        <i class="fas fa-sort-amount-up" (click)="sort('quantity', 'asc')"
        [ngStyle]="{'display': sortOrder === 'desc' ? 'inline' : 'none', 'color': sortBy === 'quantity' ? '#4CAF50' : 'white'}"
        ></i>
        <i class="fas fa-sort-amount-down" (click)="sort('quantity', 'desc')"
        [ngStyle]="{'display': sortOrder === 'asc' ? 'inline' : 'none', 'color': sortBy === 'quantity' ? '#4CAF50' : 'white'}"
        ></i>
      </h1></th>
      <th><h1 style="text-align: center;">
        Value
        <i class="fas fa-sort-amount-up" (click)="sort('value', 'asc')"
        [ngStyle]="{'display': sortOrder === 'desc' ? 'inline' : 'none', 'color': sortBy === 'value' ? '#4CAF50' : 'white'}"
        ></i>
        <i class="fas fa-sort-amount-down" (click)="sort('value', 'desc')"
        [ngStyle]="{'display': sortOrder === 'asc' ? 'inline' : 'none', 'color': sortBy === 'value' ? '#4CAF50' : 'white'}"
        ></i>
      </h1></th>
    </tr>
  <!-- </thead>
  <tbody> -->
    <tr *ngFor="let coin of coins">
      <td (click)="invertChartVisibility(coin)">
        <div *ngIf="coin.image !== null">
          <img style="height: 20px;" src="{{coin.image}}"> 
          <p style="margin: 4px;"> {{coin.name}} [{{coin.location}}] </p>
        </div>
      </td>
      <td style="text-align: right; padding-right: 8px;" *ngIf="0 >= coin._24h" [ngStyle]="{'color': coin._24h > 0 ? 'lightgreen' : 'lightpink' }">
        {{coin.usd | number : '1.1-9'}}  (&#9660;{{coin._24h | number : '1.1-2'}}%)
      </td>
      <td style="text-align: right; padding-right: 8px;"  *ngIf="coin._24h > 0" [ngStyle]="{'color': coin._24h > 0 ? 'lightgreen' : 'lightpink' }">
        {{coin.usd | number : '1.1-9'}}  (&#9650;{{coin._24h | number : '1.1-2'}}%)
      </td>
      <td style="text-align: right; padding-right: 8px;">{{coin.quantity}}</td>
      <td style="text-align: right; padding-right: 8px;" *ngIf="1 > coin.xD" [ngStyle]="{'color': 1 > coin.xD ? 'lightpink' : 'lightgreen' }">
        ({{coin.xD * 100| number: '1.1-2'}}%) &nbsp; €{{coin.value | number : '1.1-3'}}
      </td>
      <td style="text-align: right; padding-right: 8px;" *ngIf="coin.xD >= 1" [ngStyle]="{'color': coin.xD >= 1 ? 'lightgreen' : 'lightpink' }">
        ({{coin.xD * 100| number: '1.1-2'}}%) &nbsp; €{{coin.value | number : '1.1-3'}}
      </td>
    </tr>
    <tr>
      <td style="background-color:#1F2739;">

      </td>
      <td style="background-color:#1F2739;">

      </td>
      <td style="text-align: right; padding-right: 8px;">
        <h3>
          Total USD
        </h3>
      </td>
      <td style="text-align: right; padding-right: 8px;">
        {{usdBalance | number}}
      </td>
    </tr>
    <tr>
      <td style="background-color:#1F2739;">

      </td>
      <td style="background-color:#1F2739;">

      </td>
      <td style="text-align: right; padding-right: 8px;">
        <h3>
          Total Eur
        </h3>
      </td>
      <td style="text-align: right; padding-right: 8px;">
        {{balance | number}}
      </td>
    </tr>
  <!-- </tbody> -->
</table>
<div>
  <app-cryptocurrency></app-cryptocurrency>
</div>

<div *ngIf="chartVisible" class="fear">
  <highcharts-chart 
    [Highcharts]="Highcharts"
    [options]="chartOptions"

    style="width: 600px; height: 600px; display: inline;"
  ></highcharts-chart>
  <img class="fg" src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Bitcoin Fear &amp; Greed Index">
</div>
